@import '../../common/css/vars';

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.hidden-text {
    text-indent: -9999px;
    overflow: hidden;
}

body {
    font-family: "system-ui";
    color: $gray01;
    background: $gray04;
}