@import '../../common/css/vars';

.productdetail {
    background: $white;
    margin-top: 16px;
    width: 980px;
    margin: 15px auto;
    border-radius: 4px;
    padding: 32px 0px 32px 32px;
    display: flex;

    &__imgcontainer {
        height: 680px;
        width: 680px;
        overflow: hidden;
    }

    &__img {
        height: 100%;
        margin: 0 auto;
        display: block;
    }

    &__info {
        width: 680px;
    }

    &__title {
        font-size: $fs-28;
        color: $gray02;
        margin: 32px 0;
    }

    &__description {
        font-size: $fs-16;
        color: $gray02;
        line-height: 1.2;
    }

    &__condition {
        font-size: $fs-14;
        margin-bottom: 14px;
    }

    &__itemtitle {
        font-size: $fs-24;
        margin-bottom: 32px;
    }

    &__price {
        font-size: $fs-46;
        margin-bottom: 32px;
    }

    &__aside {
        padding: 0 16px;
        width: 266px;
    }

    &__button {
        color: $white;
        background: $blue01;
        border-radius: 3px;
        font-size: $fs-14;
        text-align: center;
        padding: 12px;
        display: block;
        width: 100%;
        border: 0 none;
    }

    &__decimal {
        font-size: $fs-14;
        padding-bottom: 31px;
        display: inline-block;
        vertical-align: middle;
    }
}